
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>Add Idols</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add/idol">Add Idol</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/add/idol" method="POST">
            <input type="text" name="idol">
            <button type="submit">Register Idol</button>
        </form>
    </main>
</body>

</html>